@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 100%; /* Default font size */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
  color: inherit;
}

/* Responsive font size adjustments */
